{% load i18n future pages_tags %}
{% load staticfiles %}
{% if on_home %}
<li><img src="{% static 'img/logo-tiny.png' %}"> / HOME</li>
{% else %}
{% for page in page_branch %}

    {% if not has_home and page.is_primary and forloop.first %}
    <li id="breadcrumb-menu-home">
        <a href="{% url "home" %}"><img src="{% static 'img/logo-tiny.png' %}"></a>
    </li>
    {% endif %}

    {% if page.is_current_or_ascendant %}
    {% if page.is_current %}
    <li id="breadcrumb-menu-{{ page.html_id }}"
        class="active">{{ page.title }}</li>
    {% else %}
    <li id="breadcrumb-menu-{{ page.html_id }}">
        <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
    </li>
    {% endif %}
    {% if page.has_children %}{% page_menu page %}{% endif %}
    {% endif %}

{% endfor %}
{% endif %}
