{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
<div id="sub-header">
	<h2>find your watch</h2>
	<p>May we help you find your wristwatch?</p>
</div>
<div id="main" class="header-main">
	<div id="header-carosel">
		<div class="header-item" style="background-image: url({% static 'img/01_Geneva_Watch_Auction_1.jpg' %});background-color: #efefef">
			<div class="col-md-4 desc">
				<h2>Class</h2>
				<small>
					Designed to always tell time with precision and elegance, this timepiece is a fashionable addition to any gentleman's wardrobe. In stock items ship within 24-48 hours.
				</small>
			</div>
		</div>
		<div class="header-item" style="background-image: url({% static 'img/02_Geneva_Watch_Auction_1.jpg' %});background-color: #efefef">
			<div class="col-md-4 desc">
				<h2>Style</h2>
				<small>
					For over a quarter of a century the makers of Swiss Legend have created their own legendary reputation by bringing their loyal customers timepieces steeped in tradition, design and versatility. 
				</small>
			</div>
		</div>
		<div class="header-item" style="background-image: url({% static 'img/Audemars_Piguet_Royal_Oak_LG.jpg' %});background-color: #fff">
			<div class="col-md-4 desc">
				<h2>Reliability</h2>
				<small>
					Don't be surprised if a watch from Invicta's Speedway's series gets your heart racing a little bit faster. After all, these breathtaking watches are a marvel to look at.
				</small>
			</div>
		</div>
		<div class="header-item" style="background-image: url({% static 'img/Frederique_Constant_ClassicAuto_LG.jpg' %});background-color: #fff">
			<div class="col-md-4 desc">
				<h2>Aesthetic</h2>
				<small>
					Lucien Piccard creates a unique design on a classic dial face for the Stockhorn timepiece, combining a textured finish in the center of the dial with a matte finish on the outer ring with Roman numeral markers. 
				</small>
			</div>
		</div>
	</div>
</div>

<div id="aboutus">
	<div id="aboutus-text">
		<h2>Find the watch for you</h2>
		<small>The wrist watch we choose to wear is a reflection of our personality.</small><br>
		<small>Choose the right one for you.</small>
		<div class="text-border"></div>
		<li class="fa fa-quote-left"></li>
		<p>
			Show Your Style. It’s great to have a watch that represents your interests. It may be classic cars, military history, computer programming, aviation, deep sea exploration, or old spy flicks….whatever you obsess over, there is a watch to make a subtle statement reflecting it. So while you may not actually be utilizing the functionality of a vintage divers’ chronograph to regulate your remaining oxygen while diving at depths of 120m, the sporty look of it definitely makes a statement and provides the features necessary to show that you are the adventurous type.
		</p>
		<p>
			Going Somewhere? Everyone should have a prized piece for those extraordinary and most often formal affairs in life, like weddings, black tie galas, ceremonies, and important business meetings. Classic style is key here, and a slim profile watch, both understated and bold in design will always compliment the tux. A black dial with high polished indicators or sub dials makes for a nice touch of flash, and a case in either gold or silver metal work just the same, but should match the metal in your cufflinks for sure!
		</p>
	</div>
</div>
<div id="servicing">
	<div id="servicing-text">
		<h2>Servicing your watch</h2>
		<small>How often should you have your mechanical watch serviced?</small><br>
		<small>What is it safe to do with your watch?</small>
		<div class="text-border"></div>
		<li class="fa fa-quote-left"></li>
		<p>
			For wristwatches I recommend 2-7 years depending on the watch and how much it is worn. If you have a vintage wrist watch that is not sealed and is not dust and water resistant that you wear daily then the 2-year figure may be appropriate. If you have a more modern wristwatch that is sealed and is marked as being dust and water resistant then the 7-year figure may be appropriate even if the watch is worn daily. No watch should go beyond 7 years for servicing due to the fact that parts are going to start to wear once the oil dries-out. 
		</p>
		<p>
			Therefore, in the end it really depends on the type of watch and the owner how long the watch can go between servicing. I have heard wild claims of 20 years between watch servicing, but please don't attempt this unless you like large repair bills. Even the best oils will dry-up over time, once that happens you get wear, a lot of wear. If you stop to think that a mechanical watch balance wheel makes at least 18,000 vibrations each minute (more modern watches can be 28,800-36,000) then you see that it will not take long for parts to start wearing once the lubrication is gone.
		</p>
	</div>
</div>

{% endblock %}
