{% load mezzanine_tags i18n future %}
<form action="{% url "search" %}" class="navbar-form navbar-right" role="search">

<div class="form-group">
    <input class="form-control" placeholder="SEARCH" type="text" name="q" value="{{ request.REQUEST.q }}">
</div>



</form>
