/*
----------------------------
Global
----------------------------
*/

body {
	background: #fcfcfc url('../img/white-grain-bg.jpg');
	font-family: 'Times New Roman';
}

a {
	color: #900f17;
}

a:hover {
	color: #C5444D;
}

/*
----------------------------
Nav bar
----------------------------
*/

.navbar-brand {
    float: none;
	
}

.navbar-brand img {
	padding: 10px 0 0 0;
}

.navbar-default {
	background: none;
	position: relative;
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 0px;
}

.navbar-default .form-group > input[type="text"] {
	padding-bottom: 0px;
	background: transparent;
	border: none;
	font-size: 12px;
	box-shadow: none;
	margin-bottom: 0px;
	-webkit-box-sizing: content-box; 
	 box-sizing: content-box; 
	 background: url('../img/bgSearch.png') 0 0 no-repeat;
}

.navbar-nav{
	margin: 0px auto;
	width: 100%;
	float: none;
	background: none;
	background-position: bottom;
	background-repeat: no-repeat;
	text-align: center;
	padding-bottom: 5px;
}

.navbar-collapse {
	/* background: #FCFCFD; */
}

.navbar-default .navbar-nav > .active > a {
	background: transparent;
	box-shadow: none;
}

.navbar-default .navbar-nav > li > a {
	padding: 0 15px 5px 15px;
}

.navbar-nav > li {
	float: none;
	display: inline-block;
}

.navbar-form.navbar-right {
  padding-right: 0;
}

@media (min-width: 768px) {
	.navbar-header {
		float: none;
		text-align: center;
	}
	.navbar-form.navbar-right:last-child {
		margin: 0px;
		margin-top: -10px;
	}

	.navbar-collapse{
		background: transparent;
	}

	.navbar-nav > li {
		float: none;
		display: inline-block;
	}

	.navbar-nav{ 
		background-image: url('../img/nav-border-down.png');
	}

	.navbar-form.navbar-right {
	  padding-right: 0;
	  margin-top: -43px;
	
	  margin-right: 22px;
}
}

.dropdown-menu {
	background: #e7e7e7;
}

.dropdown-menu > li > a {
	background: #e7e7e7;
	color: #555;
	font-size: 12px;
}

.navbar-nav > li > .dropdown-menu {
	background: #e7e7e7;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background: transparent;
	color: black;
	font-size: 12px;
}

/*
----------------------------
Breadcrumbs
----------------------------
*/

.breadcrumb {
	
    margin-bottom: 0px;
    padding-left: 150px;
}

.breadcrumb img {
	margin-top: -5px;
}

/*
----------------------------
Pages
----------------------------
*/

#sub-header {
    text-align: center;

    width: 100%;
    background: #8e1019;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
}

#sub-header h2 {

    border-bottom: 1px solid #B52832;
    width: 300px;
    margin: 0px auto;
    

    padding-bottom: 5px;

    margin-bottom: 5px;    

    font-family: 'Times New Roman';

}

#sub-header p {
    font-style: italic;

    text-transform: capitalize;
}

/*
----------------------------
Home
----------------------------
*/

.header-main {
    height: 450px;
    /* overflow: hidden; */
}

.header-item {
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.header-item .desc {
    float: left;
  
    padding: 20px;
    /* background: rgba(255, 255, 255, 0.83); */
    margin: 50px;
    /* -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75); */ -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75); 
    /* box-shadow: 0px 10px 5px -5px rgba(0,0,0,0.75); */
    margin-top: 200px;
}

.header-item h2 {
    margin-top: 0;

    font-size: 50px;
    color: #8e1019;
    font-family: 'Times New Roman';
    border-bottom: 1px solid;
}

.header-item small {
    font-size: 15px;

}

#aboutus {
	background-image: url(../img/about.jpg);
	height: 700px;
}

#aboutus-text {
	float: right;
	background: #8e1019;
	color: #fff;
}

#aboutus-text h2,
#servicing-text h2 {
    text-transform: uppercase;

    font-family: 'Times New Roman';
}

#aboutus-text small {
    color: #dc870a;

    font-size: 15px;
    font-style: italic;
    margin-left: 10px;
}


#aboutus-text p,
#servicing-text p  {
    /* padding-top: 10px; */
    padding-left: 20px;
    font-size: 15px;
    line-height: 2;
    float: left;
    width: 80%;
}

#aboutus-text li,
#servicing-text li {
    color: #6E0E15;

    font-size: 50px;
    float: left;
}

#servicing {
	background-image: url(../img/Svend_Andersen_Calendar_WP.jpg);
	height: 700px;
	background-position: right;
}

#servicing-text,
#aboutus-text  {
	width: 50%;
	height: 100%;
	padding: 20px;
	overflow: scroll;
}

#servicing-text {
	float: left;
	background: #fff;
	color: #8e1019;
}


#servicing-text small {
    color: #dc870a;   font-size: 15px;   font-style: italic;   margin-left: 10px;

}

#servicing-text li {
    color: #CDCDCD;
	
}

.text-border {
    width: 200px;
	
    margin: 0px auto;
    height: 1px;
    border-bottom: 1px solid #6E0E15;
    margin-top: 15px;
    margin-bottom: 5px;
}

#aboutus-text p:last-child, 
#servicing-text p:last-child {
	padding-left: 65px;
	width: 90%;
}

@media (max-width: 768px) {
	.header-item .desc {
		margin-top: 400px;
	}

	.header-main {
		height: 650px;
	}

	.slick-slider {
		height: 650px;
	}

	.slick-slider .slick-track, .slick-slider .slick-list {
		height: 650px;
	}

	.header-item {
		background-position: top;
	}
}

/*
----------------------------
Shop
----------------------------
*/

.product-thumb h6 {
    text-transform: uppercase;

    font-family: 'Times new Roman';
}

.shop-category-list h4 {
	font-family: 'Times New Roman';
}

/*
----------------------------
Bootstrap
----------------------------
*/

.row {
	margin-top: 10px;
}

footer {
	background-image: url(../img/logo-bg.png)
;
	background-position: center;
	background-repeat: no-repeat;
}
