{% extends "base.html" %}
{% load mezzanine_tags keyword_tags %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
<div id="sub-header">
	<h2>{% editable page.title %}{{ page.title }}{% endeditable %}</h2>
	<p>
		{% if page.category.content %}
			{% editable page.category.content %}
			{{ page.category.content|safe }}
			{% endeditable %}
		{% endif %}
	</p>
</div>

{% endblock %}

{% block main %}
{% endblock %}
